.App {
  height: 100%;
}

html,body {
  height: 100%
}

button:focus {
  outline: 0;
}

.control-panel {
  display: flex;
  box-sizing: border-box;
}

.control-panel-left {
  width: 50%;
  margin: 1em;
}

.control-panel-right {
  width: 50%;
  margin: 1em;
  text-align: right;
}

.control-panel-date-picker {
  position: relative;
}

.control-panel-date-picker-popup {
  position: absolute;
  top: 40px;
  right: 0px;
  outline: 2px solid #D8E1E8;
  z-index: 1;
}